@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

body {
  overflow-x: hidden;
}

body .for_page .page .header {
  padding-top: 47px;
  padding-bottom: 44px;
}

body .for_page .page .header .sign-buttons button {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;
  border-radius: 4px;
  color: #1A1A1A;
  padding: 12px 16px 12px 16px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background: #FFFFFF;
  cursor: pointer;
}

body .for_page .page .header .sign-buttons button:last-child {
  margin-left: 32px;
}

body .for_page .page .header .sign-buttons button:hover {
  background: #066F14;
  color: #FFFFFF;
}

body .for_page .page .header .responsive_menu {
  display: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

body .for_page .page .header .responsive_menu:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  color: #066F14;
}

body .for_page .page .header .name {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #1A1A1A;
  margin-top: 12px;
}

body .for_page .page .header .nav-menu .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 284px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
}

body .for_page .page .header .nav-menu .nav-list li {
  margin-left: 48px;
}

body .for_page .page .header .nav-menu .nav-list li a {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1A1A1A;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}

body .for_page .page .header .nav-menu .nav-list li a:hover {
  color: #066F14;
}

body .for_page .page .growing {
  padding-bottom: 80px;
}

body .for_page .page .growing .img_contain {
  position: relative;
  margin-left: 17px;
}

body .for_page .page .growing .img_contain::before {
  content: "";
  background: url(../img/stem.png) no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 165px;
  left: -42px;
}

body .for_page .page .growing .img_contain::after {
  content: "";
  background: url(../img/thorn.png) no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 86px;
  left: 306px;
}

body .for_page .page .growing .img_contain .hack::after {
  content: "";
  background: url(../img/media.png) no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 530px;
  left: 341px;
}

body .for_page .page .growing .leaf_cont {
  position: relative;
}

body .for_page .page .growing .leaf_cont .leaf {
  position: absolute;
  top: 334px;
  right: -127px;
}

body .for_page .page .growing .numbers .numbers_one h2,
body .for_page .page .growing .numbers .numbers_two h2,
body .for_page .page .growing .numbers .numbers_three h2 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #001B04;
}

body .for_page .page .growing .numbers .numbers_one p,
body .for_page .page .growing .numbers .numbers_two p,
body .for_page .page .growing .numbers .numbers_three p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #1A1A1A;
}

body .for_page .page .growing .main_content {
  margin-bottom: 60px;
}

body .for_page .page .growing .main_content h1 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 92px;
  color: #1A1A1A;
  margin-top: 40px;
  margin-bottom: 24px;
}

body .for_page .page .growing .main_content p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4A4A4A;
  margin-bottom: 40px;
}

body .for_page .page .growing .main_content button {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;
  border-radius: 4px;
  color: #1A1A1A;
  padding: 16px 32px 16px 32px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background: #a5dba3;
  cursor: pointer;
}

body .for_page .page .growing .main_content button:hover {
  background: #066F14;
  color: #FFFFFF;
}

body .for_page .page .collection {
  padding-bottom: 128px;
}

body .for_page .page .collection h2 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #1A1A1A;
  margin-bottom: 37px;
}

body .for_page .page .collection p a {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #4A4A4A;
}

body .for_page .page .collection p img {
  margin-left: 5px;
}

body .for_page .page .about_us {
  padding-bottom: 128px;
}

body .for_page .page .about_us .tree {
  margin-top: 37px;
}

body .for_page .page .about_us .tree img {
  -webkit-box-shadow: -52px -36px 0px 5px #066f14;
          box-shadow: -52px -36px 0px 5px #066f14;
}

body .for_page .page .about_us .about_text span {
  display: inline-block;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #066F14;
  margin-bottom: 12px;
}

body .for_page .page .about_us .about_text h2 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #1A1A1A;
  margin-bottom: 24px;
}

body .for_page .page .about_us .about_text p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4A4A4A;
}

body .for_page .page .about_us .about_text .bold {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4A4A4A;
  margin-bottom: 36px;
}

body .for_page .page .about_us .about_text button {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;
  border-radius: 4px;
  color: #1A1A1A;
  padding: 16px 32px 16px 32px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background: #a5dba3;
  cursor: pointer;
}

body .for_page .page .about_us .about_text button:hover {
  background: #066F14;
  color: #FFFFFF;
}

body .for_page .page .slider-carousel {
  padding-bottom: 120px;
}

body .for_page .page .slider-carousel h2 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #1A1A1A;
  margin-bottom: 70px;
}

body .for_page .page .slider-carousel .owl-carousel .item {
  width: 270px;
  height: 283px;
  text-align: center;
}

body .for_page .page .slider-carousel .owl-carousel .item_one {
  background: #EAF2E5;
}

body .for_page .page .slider-carousel .owl-carousel .item_one img {
  margin: 0 auto;
  width: 154px;
  height: 85px;
  margin-bottom: 10px;
}

body .for_page .page .slider-carousel .owl-carousel .item_one img:first-child {
  padding-top: 10px;
  width: 140px;
  height: 153px;
}

body .for_page .page .slider-carousel .owl-carousel .item_two {
  background: #F0EBE6;
}

body .for_page .page .slider-carousel .owl-carousel .item_two img {
  margin: 0 auto;
  width: 165px;
  height: 85px;
}

body .for_page .page .slider-carousel .owl-carousel .item_two img:first-child {
  padding-top: 10px;
  width: 120px;
  height: 153px;
}

body .for_page .page .slider-carousel .owl-carousel .item_third {
  background: #E2ECE4;
}

body .for_page .page .slider-carousel .owl-carousel .item_third img {
  margin: 0 auto;
  width: 128px;
  height: 85px;
}

body .for_page .page .slider-carousel .owl-carousel .item_third img:first-child {
  padding-top: 10px;
  width: 118px;
  height: 153px;
}

body .for_page .page .slider-carousel .owl-carousel .item_fourth {
  background: #E7EEED;
}

body .for_page .page .slider-carousel .owl-carousel .item_fourth img {
  margin: 0 auto;
  width: 134px;
  height: 85px;
}

body .for_page .page .slider-carousel .owl-carousel .item_fourth img:first-child {
  padding-top: 10px;
  width: 160px;
  height: 153px;
}

body .for_page .page .reviews {
  padding-bottom: 128px;
}

body .for_page .page .reviews .woman_img {
  z-index: 1;
}

body .for_page .page .reviews .review {
  position: absolute;
  z-index: 999;
}

body .for_page .page .reviews .review .item {
  background: #066F14;
  width: 597px;
  height: 204px;
  padding: 21px;
}

body .for_page .page .reviews .review .item img {
  width: 185px;
  height: 60px;
}

body .for_page .page .reviews .review .item p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ECECEC;
}

body .for_page .page .subscribe {
  padding-bottom: 79px;
}

body .for_page .page .subscribe .container {
  background: #DFFFE3;
  border-radius: 6px;
}

body .for_page .page .subscribe .container .sub {
  padding-left: 30px;
}

body .for_page .page .subscribe h2 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #1A1A1A;
  margin-top: 60px;
  margin-bottom: 12px;
}

body .for_page .page .subscribe p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4A4A4A;
  margin-bottom: 30px;
}

body .for_page .page .subscribe .sub-form {
  padding: 8px 8px 8px 20px;
  background: #FFFFFF;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .for_page .page .subscribe .sub-form input {
  border: none;
  outline: none;
  padding: 8px 8px 8px 20px;
}

body .for_page .page .subscribe .sub-form button {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FEFEFE;
  background: #a5dba3;
  border-radius: 4px;
  border: none;
  padding: 11px 16px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

body .for_page .page .subscribe .sub-form button:hover {
  background: #066F14;
}

body .for_page .instagram {
  padding-bottom: 120px;
}

body .for_page .instagram p {
  margin-bottom: 40px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4A4A4A;
}

body .for_page .instagram h2 {
  margin-bottom: 10px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #1A1A1A;
}

body .for_page .instagram .item_two {
  width: 230px;
  height: 240px;
}

body .for_page .footer {
  padding-bottom: 96px;
}

body .for_page .footer ul {
  list-style: none;
}

body .for_page .footer ul li {
  margin-bottom: 16px;
}

body .for_page .footer ul li a {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #5A5A5A;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body .for_page .footer ul li a:hover {
  color: #a5dba3;
}

body .for_page .footer h3 {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #1A1A1A;
  margin-bottom: 24px;
}

body .for_page .footer p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #5A5A5A;
  margin-bottom: 22px;
}

body .for_page .footer .soc_link img {
  margin-right: 16px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

body .for_page .footer .soc_link img:hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}
/*# sourceMappingURL=style.css.map */